version: 2.1

orbs:
  pnpm: circleci/pnpm@2.0.0

executors:
  node-executor:
    docker:
      - image: cimg/node:20.11

jobs:
  build:
    executor: node-executor
    steps:
      - checkout
      - pnpm/install:
          install-args: '--frozen-lockfile'
      - run:
          name: Build project
          command: pnpm build
      - run:
          name: Run tests
          command: pnpm test

workflows:
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only: circleci-project-setup
